<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p>

<p>
  <strong>State:</strong>
  <%= @story.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @story.city %>
</p>

<%= link_to 'All stories', stories_path %>
